body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  color: #3a4145; }

#container {
  width: 100%; }

#header {
  background-color: #078898;
  width: 100%;
  height: 4rem;
  top: 0rem;
  left: 0rem;
  position: fixed; }

#logo {
  display: inline-block;
  width: 30%;
  height: 4rem;
  overflow: hidden; }

.logo-link {
  font-size: 1.5rem;
  text-decoration: none;
  margin-left: 1.875rem;
  line-height: 4rem;
  letter-spacing: 0.125rem; }

#icon {
  display: none;
  float: right;
  position: absolute;
  top: 1rem;
  right: 1.5rem; }

#icon i {
  color: #f2f2f2; }

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  height: 4rem;
  float: right;
  overflow: hidden;
  transition: all 0s; }

.nav-link {
  font-size: 0.9rem;
  text-decoration: none;
  text-align: right;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  letter-spacing: 0.125rem; }

.nav-link:hover, .nav-link:visited:hover {
  color: #EEAA7B; }

.logo-link, .logo-link:visited, .nav-link, .nav-link:visited {
  color: #f2f2f2; }

.active, .active:visited {
  color: #EEAA7B; }

a, a:visited {
  color: #3a4145; }

#top-line {
  margin-top: 2.35rem; }

.hidden {
  display: none; }

#main {
  text-align: center;
  width: 100%;
  margin-top: 4rem; }

section {
  border-bottom: 1px solid #e6e6e6;
  padding-top: 2.75rem;
  padding-bottom: 2.75rem; }

#intro {
  background-color: #f5f8fa;
  padding-top: 3.75rem; }

#intro h1 {
  margin-bottom: -1.25rem;
  margin-top: 1rem;
  font-size: 2.75rem; }

hr {
  color: #d9d9d9;
  width: 100%; }

h1 {
  letter-spacing: 0.125rem;
  font-weight: 500; }

.sub-heading {
  font-size: 2rem;
  margin-top: 0rem;
  padding-top: 1.66rem; }

h3 {
  font-weight: 500; }

#photo-container {
  width: 100%; }

#my-photo {
  max-width: 15.63rem;
  width: 100%; }

.img-circle {
  border-radius: 50%;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3); }

#info {
  height: 100%; }

#info-text {
  width: 75%;
  margin: auto; }

.highlight {
  color: #E37222; }

#portfolio {
  background-color: #f5f8fa; }

#categories {
  padding-bottom: 1.25rem; }

.category {
  margin-bottom: 1rem; }

.project-container {
  display: block;
  width: 75%;
  min-height: 15rem;
  margin: auto;
  margin-bottom: 2.5rem;
  padding-top: 0.3125rem;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem; }

.project-container:hover {
  background-color: #EEAA7B;
  background-size: 50%; }

.project-container a {
  text-decoration: none; }

.project-container:hover a {
  color: #f2f2f2; }

.project {
  height: 100%;
  min-height: 15rem; }

.img-container {
  width: 90%;
  height: 50%;
  padding-top: 0.625rem;
  margin: auto; }

.img-container img {
  width: 100%;
  -webkit-box-shadow: 0px 15px 14px -9px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 15px 14px -9px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 15px 14px -9px rgba(0, 0, 0, 0.5); }

#email {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 3.125rem; }

.btn {
  background-color: #66B9BF;
  border: none;
  color: #f2f2f2;
  padding: 0.9375rem 1rem;
  text-decoration: none;
  font-size: 0.75rem;
  max-width: 100%;
  overflow: hidden; }

.btn:hover {
  background-color: #078898;
  cursor: pointer; }

.btn.active {
  background-color: #078898; }

.tooltip {
  position: relative;
  display: inline-block;
  max-width: 100%; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 8.75rem;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 0.375rem;
  padding: 0.3125rem;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -4.688rem;
  opacity: 0;
  transition: opacity 0.3s; }

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.3125rem;
  border-width: 0.3125rem;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

#footer a {
  margin-right: 0.9375rem;
  margin-left: 0.9375rem; }

i {
  font-size: 2rem; }

@media screen and (min-width: 824px) {
  .project-container {
    display: inline-block;
    vertical-align: top;
    width: 23%; }

  .btn {
    padding: 0.9375rem 2rem;
    font-size: 1rem; } }
@media screen and (max-width: 823px) {
  #icon {
    display: inline-block; }

  .top-nav a {
    display: block;
    padding-right: 1.875rem; }

  .nav-link {
    float: left;
    margin: 0.625rem 0.3125rem 0.625rem 0.3125rem;
    padding: 0.3125rem 1.25rem 0.3125rem;
    font-size: 1.25rem;
    margin-top: -20rem; }

  #logo {
    width: 75%; }

  #nav-bar {
    width: 100%;
    margin-top: -4.5rem;
    transition: all 0.3s ease-in-out 0s; }

  .top-nav.responsive a {
    float: none;
    text-align: right;
    color: #f2f2f2;
    margin-top: 0rem; }

  .top-nav.responsive a:hover {
    color: #E37222; }

  #nav-bar.responsive {
    display: inline-block;
    background-color: #66B9BF;
    height: 21rem; } }

/*# sourceMappingURL=styles.css.map */
