$primary-color: #078898; //#1E392A
$secondary-color: #66B9BF; //#3CC47C
$complementary-color: #EEAA7B; //#E37222 //#828081
$accent-color: #E37222;
$nav-height: 4rem; //64px
$project-height: 15rem; //240px
$plain-text-color: #3a4145; //#111111;

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    color: $plain-text-color;
}


#container {
    width: 100%;
    //margin-top: -2.5rem; //-40px
    //margin-left: -0.625rem; //10px
    //margin-right: -0.625rem; //10px
    //position: absolute;
}

#header {
    //display: inline-block;
    background-color: $primary-color;
    width: 100%;
    height: $nav-height;
    top: 0rem;
    left: 0rem;
    position: fixed;
    //overflow: visible;
}

#logo {
    display: inline-block;
    width: 30%;
    height: $nav-height;
    overflow: hidden;
}

.logo-link {
    font-size: 1.5rem; //30px
    text-decoration: none;
    //margin-top: 5rem; //80px
    margin-left: 1.875rem; //30px
    line-height: $nav-height;
    //overflow: visible;
    //width: 100%;
    letter-spacing: 0.125rem; //2px
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    height: $nav-height;
    transition: height 0.5s;
    float: right;
}

.nav-link {
    font-size: 1.05rem; //16.8px
    text-decoration: none;
    text-align: right;
    margin-left: 1.5rem; //24px
    margin-right: 1.5rem; //24px
    //padding-right: 1.25rem; //20px
    letter-spacing: 0.125rem; //2px
}

.nav-link:hover, .nav-link:visited:hover {
    //text-decoration: underline;
    color: $complementary-color;
}

.logo-link, .logo-link:visited, .nav-link, .nav-link:visited {
    color: white;
}

.active, .active:visited {
    color: $complementary-color;
}

a, a:visited {
    color: $plain-text-color;
}

#top-line {
    margin-top: 2.35rem; //37.6px
}

.hidden {
    display: none;
}

/*Adjust anchor links for fixed header*/
/*:target:before {
    content: "";
    display: block;
    height: $nav-height;
    margin: -$nav-height 0 0;
}*/

.top-nav .icon {
    display: none;
    font-size: 2.5rem; //40px
    color: white;
}

#main {
    text-align: center;
    width: 100%;
    margin-top: $nav-height;
}

section {
    border-bottom: 1px solid hsl(0, 0%, 90%);
    //vertical-align: top;
    padding-top: 2.75rem; //-44px
    padding-bottom: 2.75rem;
}

#intro {
    background-color: #f5f8fa;
    //margin-left: -0.625rem; //10px
    //margin-right: -0.625rem; //10px
    padding-top: 3.75rem; //60px
    //padding-bottom: 1.5625rem; //25px
}

#intro h1 {
    margin-bottom: -1.25rem; //-20px
    margin-top: 1rem; //16px
    font-size: 2.75rem; //44px
}

hr {
    color: hsl(0, 0%, 85%);
    width: 100%;
    //margin-top: -0.125rem; //-2px
    //margin-bottom: 3.125rem; //50px
}

h1 {
    letter-spacing: 0.125rem; //2px
    font-weight: 500;
}

.sub-heading {
    font-size: 2rem;
    margin-top: 0rem;
    padding-top: 1.66rem; //-26.56px
}

h3 {
    font-weight: 500;
}

#photo-container {
    width: 100%;
}

#my-photo {
    max-width: 15.63rem; //250px
    width: 100%;
    //margin-right: 0.5rem;
    //margin-top: 0.5rem;
}

.img-circle {
    border-radius: 50%;
    box-shadow: 0px 5px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 5px 4px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 5px 4px rgba(0,0,0,0.3);
}



#info {
    //width: 100%;
    height: 100%;
}

#info-text {
    //display: inline-block;
    width: 75%;
    //vertical-align: top;
    margin: auto;
    //margin-bottom: 3.125rem; //50px
}

.highlight {
    color: $accent-color;
}

#portfolio {
    background-color: #f5f8fa;
    //margin-top: -1.66rem; //-26.56px
    //padding-top: 2rem; //-32px
    //overflow: hidden;
}

#categories {
    padding-bottom: 1.25rem; //20px
}

.category {
    margin-bottom: 1rem; //16px
}

.project-container {
    display: block;
    width: 75%;
    min-height: $project-height;
    margin: auto;
    margin-bottom: 2.5rem; //40px
    //margin-top: 1.563rem; //25px
    padding-top: 0.3125rem; //5px
    padding-left: 0.3125rem; //5px
    padding-right: 0.3125rem; //5px
}

.project-container:hover {
    background-color: $complementary-color;
    background-size: 50%;
    //color: white;
}

.project-container a {
    text-decoration: none;
}

.project-container:hover a{
    color: white;
}

.project {
    height: 100%;
    min-height: $project-height;
}

/*.project img {
    width: 90%;
    padding-top: 0.625rem; //10px
}*/

.img-container {
    width: 90%;
    height: 50%;
    padding-top: 0.625rem; //10px
    margin: auto;
}

.img-container img {
    width: 100%;
    -webkit-box-shadow: 0px 15px 14px -9px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 15px 14px -9px rgba(0,0,0,0.5);
    box-shadow: 0px 15px 14px -9px rgba(0,0,0,0.5);
}

#email {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 3.125rem; //50px
}

.btn {
    background-color: $secondary-color;
    border: none;
    color: white;
    padding: 0.9375rem 1rem; //15px 16px
    //text-align: center;*/
    text-decoration: none;
    font-size: 0.75rem; //12px
    max-width: 100%;
    overflow: hidden;
}

.btn:hover {
    background-color: $primary-color;
    cursor: pointer;
}

.btn.active {
    background-color: $primary-color;
}

.tooltip {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 8.75rem; //140px
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 0.375rem; //6px
    padding: 0.3125rem; //5px
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -4.688rem; //-75px
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.3125rem; //-5px
    border-width: 0.3125rem; //5px
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //align-items: center;
    padding-top: 2.5rem; //40px
    padding-bottom: 2.5rem; //40px
}

#footer a {
    margin-right: 0.9375rem; //15px
    margin-left: 0.9375rem; //15px
    //text-decoration: none;
}

i {
    font-size: 2rem;
}

@media screen and (min-width: 824px) {
    .project-container {
        display: inline-block;
        vertical-align: top;
        width: 23%;
    }

    .btn {
        padding: 0.9375rem 2rem; //15px 32px
        font-size: 1rem; //16px
    }

}

@media screen and (max-width: 823px) {
    .top-nav a {
        display: none;
        //font-size: 1.875rem; //30px
        padding-right: 1.875rem; //30px
    }

    .top-nav a.icon {
        display: block;
        float: right;
        //margin: 1.063rem 0.3125rem 1.25rem; //17px 5px 20px
    }

    .nav-link {
        float: left;
        margin: 0.625rem 0.3125rem 0.625rem 0.3125rem; //10px 5px 10px 5px
        padding: 0.3125rem 1.25rem 0.3125rem; //5px 20px 5px
        font-size: 1.25rem; //20px
    }

    .top-link {
        //margin-top: 1.25rem; //20px
    }

    #logo {
        width: 50%;
    }

    #nav-bar {
        width: 50%;
    }

    .top-nav.responsive .icon {
        position: absolute;
        right: 0.125rem; //2px
        //top: 0.625rem; //10px
        color: white;
    }

    .top-nav.responsive a {
        display: block;
        float: none;
        text-align: right;
        color: white;
    }

    .top-nav.responsive a:hover {
        color: $accent-color;
    }

    #nav-bar.responsive {
        display: inline-block;
        background-color: $secondary-color;
        height: 75rem; //1200px
    }
}